{#
/**
 * @file
 * Default theme implementation of a checklist compact link.
 *
 * Available variables:
 * - link: The link, already formatted by l().
 *
 * @see template_preprocess_checklistapi_compact_link()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <div class="compact-link">
    {{ link }}
  </div>
{% endspaceless %}
